@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

#principalContainer {
  background-color: #F4F3F4;
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

#header img {
  width: 100%;
  height: auto;
}

#containerContenido {
  background-color: white;
  margin: 0 10px;

}

#containerContenido #portada{
  width: 100%;
  height: 465px;
  background-image: url(/img/portada.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#containerContenido #portada h1{
  text-align: center;
  color: #F1880D;
  font-weight: bold;
  font-size: 48px;
  padding: 87px 70px 10px 70px;
  text-align: left;
}

#containerContenido #portada p{
  text-align: justify;
  font-size: 18px;
  padding: 10px 160px;
  margin-bottom: 10px;
}

#containerContenido #portada a{
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 22px;
  text-align: center;
  margin: 0 160px;
  padding: 5px 10px;
  background-color: #F1880D;
  border: 1px solid transparent;
}

#containerContenido #portada a:hover {
  background-color: white;
  color: #F1880D;
  border: 1px solid #F1880D;
}

#containerContenido #parrafoPrincipal {
  padding: 0 130px 40px;
  text-align: center;
}

#containerContenido #botones {
  display: flex;
  justify-content: right;
  margin: 30px 40px 0 0;
}

#containerContenido #botones a {
  font-weight: bold;
  font-size: 18px;
  border-radius: 22px;
  text-align: center;
  margin-left: 10px;
}

#containerContenido #btn1 {
  background-color: #F4F3F4;
  border: 1px solid transparent;
  color: #585858;
  padding: 5px 20px;
}

#containerContenido #btn1:hover {
  background-color: white;
  color: #585858;
  border: 1px solid #585858;
}

#containerContenido #btn2 {
  background-color: #F1880D;
  border: 1px solid transparent;
  color: white;
  padding: 5px 10px;
}

#containerContenido #btn2:hover {
  background-color: white;
  color: #F1880D;
  border: 1px solid #F1880D;
}

#footer img {
  width: 100%;
  height: auto;
}