@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

/* CSS Pagina principal */
@media only screen and (max-width: 600px) {
#principalContainer {
    background-color: #F4F3F4;
    display: flex;
    flex-direction: column;
}

#header img {
    width: 100%;
    height: auto;
}

#botonNavegacion {
    display: flex;
    justify-content: right;
    position: relative;
    top: 30px;
}

#botonNavegacion a {
    margin: 0 10px;
    height: 50px;
    width: 70px;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: solid 0.5px rgba(228, 228, 228, 0.959);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    text-align: left;
    color: #373736;
    display: flex;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-bottom: 6px solid transparent;
}

#botonNavegacion a i {
    margin-right: 20px;
    font-size: 25px;
}

#botonNavegacion #textoMenu {
    display: none;
}

#botonNavegacion a:hover {
    border-bottom: 6px solid #466967;
    color: #466967;
}

#containerContenidoPPrincipal {
    background-color: white;
    margin: 0 10px;
    padding-top: 90px;
    border-radius: 5px;
}

#containerContenidoPPrincipal h1 {
    text-align: center;
    color: #585858;
    font-weight: bold;
    font-size: 25px;
}

#containerContenidoPPrincipal #parrafoPrincipal {
    padding: 25px 0px;
    text-align: center;
    margin: 0px 10px;
}

#containerContenidoPPrincipal iframe {
    height: 300px;
}

#containerContenidoPPrincipal #modulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}

#containerContenidoPPrincipal #modulos img {
    width: 60%;
}

#containerContenidoPPrincipal #modulosGris {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F4F3F4;
    flex-direction: column;
}

#containerContenidoPPrincipal #modulos #contenidoModulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
}

#containerContenidoPPrincipal #modulosGris #contenidoModulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
}

#contenidoModulos #tituloUno {
    color: #F1880D;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloUno {
    color: #F1880D;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos #tituloDos {
    color: #3F8E88;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloDos {
    color: #3F8E88;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos #tituloTres {
    color: #185694;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloTres {
    color: #185694;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos p {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

#contenidoModulos a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 150px;
    border-radius: 22px;
    text-align: center;
    padding: 5px 0;
}

#contenidoModulos #btn1 {
    background-color: #F1880D;
    border: 1px solid transparent;
}

#contenidoModulos #btn1:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
}

#contenidoModulos #btn2 {
    background-color: #3F8E88;
    border: 1px solid transparent;
}

#contenidoModulos #btn2:hover {
    background-color: white;
    color: #3F8E88;
    border: 1px solid #3F8E88;
}

#contenidoModulos #btn3 {
    background-color: #185694;
    border: 1px solid transparent;
}

#contenidoModulos #btn3:hover {
    background-color: white;
    color: #185694;
    border: 1px solid #185694;
}

#footer img {
    width: 100%;
    height: auto;
}

/* CSS Pagina Modulos */
#containerContenidoPModulos {
    background-color: white;
    margin: 0 10px;

}

#containerContenidoPModulos #portada {
    width: 100%;
    height: 465px;
    background-image: url(/ContenidoModulo/img/portada.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#containerContenidoPModulos #portada h1 {
    text-align: center;
    color: #F1880D;
    font-weight: bold;
    font-size: 48px;
    text-align: left;
}

#containerContenidoPModulos #portada p {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
}

#containerContenidoPModulos #portada a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 22px;
    text-align: center;
    padding: 5px 10px;
    background-color: #F1880D;
    border: 1px solid transparent;
}

#containerContenidoPModulos #portada a:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
}

#containerContenidoPModulos #parrafoPrincipal {
    padding: 0 130px 40px;
    text-align: center;
}

#containerContenidoPModulos #botones {
    display: flex;
    justify-content: right;
    margin: 30px 40px 0 0;
}

#containerContenidoPModulos #botones a {
    font-weight: bold;
    font-size: 18px;
    border-radius: 22px;
    text-align: center;
    margin-left: 10px;
}

#containerContenidoPModulos #btn1 {
    background-color: #F4F3F4;
    border: 1px solid transparent;
    color: #585858;
    padding: 5px 20px;
}

#containerContenidoPModulos #btn1:hover {
    background-color: white;
    color: #585858;
    border: 1px solid #585858;
}

#containerContenidoPModulos #btn2 {
    background-color: #F1880D;
    border: 1px solid transparent;
    color: white;
    padding: 5px 10px;
}

#containerContenidoPModulos #btn2:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
    }
}

/* Dispositivos pequeÃ±os (tabletas verticales y telefonos grandes, 600 px y mes) */
@media only screen and (min-width: 600px) {
    #botonNavegacion a {
    margin: 0 15px;
    width: 150px;
}

#containerContenidoPPrincipal #parrafoPrincipal {
    padding: 20px;
    margin: 0px 20px;
}

#containerContenidoPPrincipal iframe {
    height: 300px;
}

#containerContenidoPPrincipal #modulos {
    margin: 25px;
}

#containerContenidoPPrincipal #modulosGris {
    padding: 25px;
}
}

/*Mobile*/
/* @media only screen and (max-width: 600px) {

    #principalContainer {
        margin: 0;
    }

    #containerContenidoPModulos #portada {
        background: #F4F3F4;
        height: 175px;
    }

    #containerContenidoPModulos #portada h1 {
        font-size: 20px;
        padding: 20px 0px 5px 50px;
    }

    #containerContenidoPModulos #portada p {
        font-size: 15px;
        padding: 0px 50px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    #containerContenidoPModulos #portada a {
        font-size: 15px;
        margin: 0px 60px;
        padding: 2px 13px;
    }

    #containerContenidoPModulos #parrafoPrincipal {
        padding: 30px 40px 15px;
    }

    #containerContenidoPModulos iframe {
        height: 300px;
    }

    #containerContenidoPModulos #botones {
        margin: 0 20px 0 0;
    }

    #containerContenidoPModulos #botones a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) {

    #principalContainer {
        margin: 0;
    }

    #containerContenidoPModulos #portada h1 {
        font-size: 30px;
        padding: 50px 70px 10px 70px;
    }

    #containerContenidoPModulos #portada p {
        padding: 10px 140px;
        margin-bottom: 20px;
    }

    #containerContenidoPModulos #portada a {
        margin: 0 140px;
    }

    #containerContenidoPModulos #parrafoPrincipal {
        padding: 5px 70px 20px;
        text-align: center;
    }

    #containerContenidoPModulos iframe {
        height: 320px;
    }

}

@media only screen and (min-width: 992px) {

    #containerContenidoPModulos #portada {
        height: 590px;
    }

    #containerContenidoPModulos #portada h1 {
        font-size: 40px;
        padding: 100px 90px 15px 150px;
    }

    #containerContenidoPModulos #portada p {
        padding: 10px 220px;
        font-size: 20px;
    }

    #containerContenidoPModulos #portada a {
        margin: 0 220px;
    }

    #containerContenidoPModulos #parrafoPrincipal {
        padding: 10px 170px 20px;
        font-size: 20px;
    }

    #containerContenidoPModulos iframe {
        height: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    #principalContainer {
        margin: 0 20%;
    }

    #containerContenidoPModulos #portada {
        height: 465px;
    }

    #containerContenidoPModulos #portada h1 {
        padding: 70px 0px 10px 115px;
    }

    #containerContenidoPModulos #portada p {
        padding: 10px 165px;
    }

    #containerContenidoPModulos #portada a {
        margin: 0 165px;
    }

    #containerContenidoPModulos #parrafoPrincipal {
        padding: 10px 125px 20px;
    }
} */

/* Agujero de página CSS */
#container-foro {
    parte superior acolchada :  35px ;
    margen superior :  -4px ;
    fondo :  # F4F3F4 ;
    margen inferior :  40px ;
}

# pancarta  {
    alineación de texto : centro ;
}

# banner-img  {
    ancho :  100% ;
}


# navegación-contenedor  {
    pantalla : flexible ;
    justificar contenido : centrar ;
}

# contenedor-btn  {
    margen :  15px ;
    altura :  78 píxeles ;
    ancho :  215 píxeles ;
    radio de borde :  7px ;
    borde : ninguno ;
    color de fondo :  # FFFFFF ;
    borde : sólido 0.5px  rgba ( 228 ,  228 ,  228 ,  0.959 );
    sombra de cuadro :  rgba ( 99 ,  99 ,  99 ,  0.2 )  0px  2px  5px  0px ;
    alineación de texto : izquierda ;
    color :  # 373736 ;
    pantalla : flexible ;
    ajuste de palabras : romper-palabra ;
    alinear elementos : centrar ;
    justificar contenido : centrar ;
    cursor : puntero ;
}


# contenedor-btn : flotar  {
    altura :  73px ;
    borde inferior :  5px sólido # 466967 ;
    color :  # 466967 ;
}


# btn-decoración  {
    decoración de texto : ninguna ;
    borde : ninguno ;
    margen superior :  14px ;
    antecedentes : ninguno ;
    margen izquierdo :  12px ;
    peso de fuente :  700 ;
    margen inferior :  12px ;
    margen derecho :  10px ;
    tamaño de fuente :  24px ;
}

#icon-temario {
    margen izquierdo :  22px ;
    margen superior :  13px ;
    margen inferior :  13px ;
}

# contenido_contenedor  {
    color de fondo : blanco ;
    margen superior :  -50px ;
    pantalla : flexible ;
    alinear elementos : centrar ;

}

#img-content-foro {
    margen superior :  130px ;
    margen izquierdo :  100px ;
    margen inferior :  100px ;

}


#p-foro {
    color : negro ;
    peso de fuente :  300 ;
    ajuste de palabras : romper-palabra ;
    margen derecho :  120px ;
}

#title-foro {
    color :  # 466967 ;
    tamaño de fuente :  48px ;
    peso de fuente :  700 ;
    ajuste de palabras : romper-palabra ;
    margen inferior :  20px ;
}

#author-foro {
    ancho :  100% ;
    altura :  100% ;
    color : negro ;
    tamaño de fuente :  22px ;
    peso de fuente : negrita ;
    ajuste de palabras : romper-palabra ;
    margen inferior :  20px ;
}

#container-text-foro {
    margen izquierdo :  35px ;
}

# preocupaciones  {
    fondo de relleno :  40px ;
}

# preocupaciones-contenedores  {
    fondo :  # F4F3F4 ;
    margen izquierdo :  100px ;
    pantalla : flexible ;
}

# preocupaciones sobre el título  {
    ancho :  100% ;
    altura :  100% ;
    color :  # 466967 ;
    tamaño de fuente :  35px ;
    peso de fuente :  700 ;
    ajuste de palabras : romper-palabra ;
    margen superior :  50px ;
}

# p-preocupaciones  {
    color : negro ;
    tamaño de fuente :  18px ;
    peso de fuente :  300 ;
    margen inferior :  40px ;
    ajuste de palabras : romper-palabra ;
    margen derecho :  120px ;
}

# texto-img  {
    pantalla : flexible ;
}


# btn-participar  {
    ancho :  100px ;
    altura :  30 píxeles ;
    color de fondo :  # 466967 ;
    borde : ninguno ;
    radio del borde :  22px ;
    color : blanco ;
    tamaño de fuente :  18px ;
    peso de fuente :  700 ;
    relleno :  6px ;
    relleno-izquierda :  25px ;
    relleno-derecha :  25px ;
    ajuste de palabras : romper-palabra ;
    margen inferior :  70px ;
    margen superior :  20px ;
    espaciado entre letras :  0,8 px ;
    cursor : puntero ;
}

# btn-participar : pasar el cursor  {
    color de fondo : blanco ;
    borde :  1px sólido # 466967 ;
    color :  # 466967 ;
}



@media ( ancho máximo :  1700 px )  {
   
    # btn-decoración  {
        margen izquierdo :  12px ;
    }

    # img  {
        altura :  30 píxeles ;
        ancho :  42px ;
        margen izquierdo :  22px ;
        margen superior :  13px ;
        margen inferior :  13px ;
    }

}

@media ( ancho máximo :  1550 px )  {

    # btn-decoración  {
        tamaño de fuente :  19px ;
        margen derecho :  10px ;
    }
    #img-content-foro {
        margen superior :  130px ;
        margen inferior :  100px ;
    }
}



@media ( ancho máximo :  1200 px )  {
    # contenedor-btn  {
        altura :  70 píxeles ;
    }
}


@media ( ancho máximo :  1003px )  {
    #img-content-foro {
        margen izquierdo :  0px ;
    }

}


@media ( ancho máximo :  930 px )  {
    # pancarta  {
        margen izquierdo :  1px ;
        margen derecho :  1px ;
    }
}


@media ( ancho máximo :  854 px )  {

    #container-foro {
        margen superior :  -120px ;
    }
    

    # contenedor-btn  {

        altura :  70 píxeles ;
    }

    #img-content-foro {
        margen superior :  100px ;
        margen inferior :  30px ;
        margen izquierdo :  0px ;
    }

    #temario {
        ancho :  110px ;
    }

    #foro {
        ancho :  90 píxeles ;
    }

    #conclusiones {
        ancho :  129px ;
    }

    # preocupaciones-contenedores  {
        margen izquierdo :  50px ;
    }

    # contenido_contenedor  {
        mostrar : bloquear ;
        alineación de texto : centro ;
    }

    #container-text-foro {
        fondo de relleno :  30px ;
        margen izquierdo :  0px ;
    }
    #p-foro {
        tamaño de fuente :  19,5 px ;
        margen derecho :  20px ;
        margen izquierdo :  20px ;
    }
}


@media ( ancho máximo :  640 px )  {

    # preocupaciones  {
        alineación de texto : centro ;
    }

    #container-foro {
        margen izquierdo :  15px ;
        margen derecho :  15px ;
    }

    # btn-decoración  {
        pantalla : ninguna ;
    }

    #temario {
        ancho :  110px ;
        altura :  57 píxeles ;
    }

    #foro {
        ancho :  90 píxeles ;
        altura :  57 píxeles ;

    }

    #conclusiones {
        ancho :  225 píxeles ;
    }

    # contenedor-btn  {
        margen :  12px ;
        altura :  57 píxeles ;
        ancho :  600px  ! Importante ;
        justificar contenido : centrar ;
        alineación de texto : centro ;
        justificar-elementos : centro ;
    }

    # img  {
        ancho máximo :  100% ;
        altura :  30 píxeles ;
        ancho :  42px ;
        margen izquierdo :  10px ;
        margen derecho :  10px ;
        margen superior :  0px ;
        margen inferior :  0px ;
    }

    #img-content-foro {
        ancho :  220 píxeles ;
    }

    #title-foro {
        tamaño de fuente :  38px ;
        peso de fuente :  700 ;
    }

    #author-foro {
        tamaño de fuente :  19px ;
    }

    #p-foro {
        tamaño de fuente :  16,5 px ;
        margen derecho :  0px ;
    }


    # preocupaciones sobre el título  {
        tamaño de fuente :  28px ;
    }

    # p-preocupaciones  {
        tamaño de fuente :  16,5 px ;
    }



    # btn-participar  {
        relleno :  0px ;
        parte superior acolchada :  4px ;
        margen inferior :  -70px ;
        justificar contenido : centrar ;
        margen superior :  5px ;
    }


    # preocupaciones-contenedores  {
        margen izquierdo :  40px ;
    }

    # img-preocupaciones  {
        pantalla : ninguna ;
    }
    # preocupaciones-contenedores  {
        margen izquierdo :  20px ;
        margen derecho :  20px ;

    }

    # contenedor-btn-participar  {
        pantalla : flexible ;
        justificar contenido : centrar ;
        margen inferior :  -19px ;
    }

    # p-preocupaciones  {
        margen derecho :  0px ;
    }
}



/* CSS Pagina Tematicas */
#container-temas-modulos {
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 0px;
    background: white;
}




#banner {
    margin-left: 500px;
    margin-right: 500px;
    max-width: 100%;
    text-align: center;

}

#img-papel-banner {
    display: none;
}

#container-img-banner-movil {
    display: none;
}


#title-banner-movil {
    visibility: hidden;
}



#img-banner {
    width: 100%;

}



#head-content {
    display: flex;
    align-items: center;
}


#container_content {
    background-color: white;
    display: flex;
    align-items: center;
}

#img-content-tematica {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
}


#p-explorar-tematica {
    color: black;
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;
    margin-right: 16px;
}

#title-explorar-tematica {
    color: #F1880D;
    font-size: 35px;
    font-weight: 700;
    word-wrap: break-word;
    margin-right: 22px;
}

#container-text-explorar-tematica {
    margin-left: 35px;
}

#topics {
    padding-left: 60px;
    padding-right: 60px;
}

#container_topics {
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 17px;
    background-color: #F5F5F5;
    border-radius: 20px;
    margin-bottom: 20px;
}


#img-papel {
    height: 120px;
    width: 90px;
    margin-right: 35px;
}

#img-planta {
    width: 100px;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 27px;
}

#img-marcadores {
    height: 120px;
    margin-right: 48px;
}

#text-topics {
    margin-top: 12px;
    font-size: 23px;
    color: #585858;
}

#title-topics {
    color: #585858;
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 30px;
}

#p-topics {
    font-weight: 100;
    font-size: 30px;
}

#left-content {
    flex: 1;
    display: flex;
    margin-top: 30px;
}


#btn-explorar-tematica {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-right: 50px;
    margin-top: 26px;
    background-color: #F1880D;
    color: white;
    cursor: pointer;
    display: flex;
}

#btn-explorar-tematica:hover {
    background-color: white;
    border: 1px solid #F1880D;
    color: #F1880D;
}


#container-btn-volver {
    text-align: right;
    margin-bottom: 40px;
    margin-top: 34px;
}

#btn-volver {
    padding: 5px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 15px;
    margin-top: 26px;
    background-color: #F5F5F5;
    color: #585858;
    font-weight: 700;
    cursor: pointer;

}

#btn-volver:hover {
    background-color: #F1880D;
    border: 1px solid transparent;
    color: white;
}



@media(max-width: 1700px) {
    #container-temas-modulos {
        margin-left: 300px;
        margin-right: 300px;
    }



    #btn-decoration {
        margin-left: 12px;
    }

    #img {
        height: 30px;
        width: 42px;
        margin-left: 22px;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    #banner {
        margin-left: 300px;
        margin-right: 300px;
    }
}







@media(max-width: 1550px) {
    #container-temas-modulos {
        margin-left: 180px;
        margin-right: 180px;
    }

    #btn-decoration {
        font-size: 19px;
        margin-right: 10px;
    }

    #banner {
        margin-left: 180px;
        margin-right: 180px;
    }

    #img-content-tematica {
        margin-top: 130px;
        margin-left: 100px;
        margin-bottom: 100px;
    }
}



@media(max-width: 1200px) {
    #container-temas-modulos {
        margin-left: 100px;
        margin-right: 100px;
    }

    #container-btn {
        height: 70px;
    }

    #banner {
        margin-left: 100px;
        margin-right: 100px;
    }
}


@media(max-width: 1030px) {
    #container-btn {
        width: 190px;
    }
}


@media(max-width: 1003px) {
    #container-temas-modulos {
        margin-left: 60px;
        margin-right: 60px;
    }

    #banner {
        margin-left: 60px;
        margin-right: 60px;
    }


}


@media(max-width: 930px) {
    #container-temas-modulos {
        margin-left: 20px;
        margin-right: 20px;
    }



    #banner {
        margin-left: 10px;
        margin-right: 10px;
    }


}


@media(max-width: 854px) {
    #img-banner {
        display: none;
    }

    #container-title-banner{
        text-align: center;
        margin-top: -40px;
        color: #FFFFFF;
    }


    #container-img-banner-movil {
        background-color: #466966
    }

    #uno-title{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        border-bottom: solid 1px;
    }

    #dos-title{
        font-weight: 100;
        font-size: 40px;
    }

    #title-banner-movil {
        margin-right: 40px;
        margin-left: 40px;
    }

    #img-escritorio-banner-movil {
        height: 130px;
    }

    #container-img-escritorio-banner-movil {
        display: flex;
        justify-content: end;
    }

    #container-btn {
        height: 70px;
    }

    #container_content {
        display: block;
        text-align: center;
    }


    #img-content-tematica {
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 40px;
    }

    #p-explorar-tematica {
        margin-bottom: 30px;
        margin-right: 0px;
        margin-left: 0px;
    }

    #title-explorar-tematica {
        font-size: 28px;
    }

    #img-papel-banner {
        display: block;
        width: 100.3%;
        height: 140px;
        margin-top: -60px;
    }

    #container-img-banner-movil {
        height: 280px;
        display: block;
        text-align: center;
    }


    #title-banner-movil {
        height: 120px;
        width: 380px;
        margin-top: 40px;
        visibility: visible;
    }


}

@media(max-width: 730px) {

    #uno-title{
        font-size: 35px;
    }

    #dos-title{
        font-size: 35px;
    }


    #container-temas-modulos {
        margin-left: 15px;
        margin-right: 15px;
    }

    #container_topics {
        display: block;
        padding-bottom: 20px;
    }

    #btn-explorar-tematica {
        padding-left: 10px;
        padding-right: 10px;
        width: 130px;
        margin-top: 0px;
        justify-content: center;
        margin-right: 20px;
        margin-top: 5px;
    }

    #container-btn-explorar-tematica {
        display: flex;
        justify-content: end;
        margin-bottom: -32px;
    }

    #img-papel {
        margin-right: 15px;
    }

    #img-planta {
        margin-right: 7px;
    }

    #img-marcadores {
        height: 120px;
        margin-right: 28px;
    }

    #title-topics {
        font-size: 22px;
        margin-top: 10px;
    }

    #p-topics {
        font-size: 22px;
    }

    #btn-explorar-tematica {
        font-size: 15px;
    }

    #topics {
        padding-left: 35px;
        padding-right: 35px;
    }

    #title-explorar-tematica {
        font-size: 28px;
    }

    #p-explorar-tematica {
        font-size: 17px;
    }

    #title-banner-movil {
        height: 90px;
        width: 340px;
        margin-top: 40px;
        visibility: visible;
    }
}


@media(max-width: 640px) {

    #uno-title{
        font-size: 30px;
    }

    #dos-title{
        font-size: 30px;
    }


    #container-title-banner{
        margin-top: -20px;
    }

    #container-temas-modulos {
        margin-left: 15px;
        margin-right: 15px;
    }
    #banner {
        margin-left: 20px;
        margin-right: 20px;
    }



}

@media(max-width: 400px) {

    #uno-title{
        font-size: 25px;
    }

    #dos-title{
        font-size: 25px;
    }

    #container-title-banner{
        margin-top: 0px;
    }

    #topics {
        padding-left: 15px;
        padding-right: 15px;
    }

    #title-explorar-tematica {
        font-size: 25px;
    }

    #banner {
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media(max-width: 330px) {

    #container-temas-modulos {
        width: 400px;
        margin: auto;

    }

    #container-img-banner-movil{
        margin: auto;
    }
    #container-img-banner-movil{
        width: 400px;
        margin: auto;
    }
    #img-papel-banner{
        width: 400px;
    }

}
