@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

/* CSS Pagina principal */
@media only screen and (max-width: 600px) {
    #contenedorPrincipal{
        margin-top: -90px;
    }

    #botonNavegacion {
        display: flex;
        justify-content: center;
        position: relative;
        top: 30px;
    }

    #botonNavegacion a {
        margin: 0 10px;
        height: 55px;
        width: 85px;
        border-radius: 7px;
        background-color: #FFFFFF;
        border: solid 0.5px rgba(228, 228, 228, 0.959);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
        text-align: left;
        color: #373736;
        display: flex;
        word-wrap: break-word;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-bottom: 6px solid transparent;
    }

#botonNavegacion a i {
    font-size: 25px;
}

#botonNavegacion #textoMenu {
    display: none;
}

#botonNavegacion a:hover {
    border-bottom: 6px solid #466967;
    color: #466967;
}

#containerContenidoPPrincipal {
    background-color: white;
    padding-top: 55px;
    border-radius: 5px;
}

#containerContenidoPPrincipal h1 {
    text-align: center;
    color: #585858;
    font-weight: bold;
    font-size: 25px;
}

#containerContenidoPPrincipal #parrafoPrincipal {
    padding: 15px 5px 0;
    text-align: justify;
    margin: 0px 20px;
}

#containerContenidoPPrincipal iframe {
    height: 230px;
}

#containerContenidoPModulos iframe {
    height: 230px;
}

#containerContenidoPPrincipal #modulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
}

#containerContenidoPPrincipal #modulos img {
    width: 50%;
}

#containerContenidoPPrincipal #modulosGris img {
    width: 50%;
}

#containerContenidoPPrincipal #modulosGris {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F4F3F4;
    flex-direction: column;
}

#containerContenidoPPrincipal #modulos #contenidoModulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
}

#containerContenidoPPrincipal #modulosGris #contenidoModulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;
    align-items: center;
}

#contenidoModulos #tituloUno {
    color: #F1880D;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloUno {
    color: #F1880D;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos #tituloDos {
    color: #3F8E88;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloDos {
    color: #3F8E88;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos #tituloTres {
    color: #185694;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloTres {
    color: #185694;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos p {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

#contenidoModulos a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 150px;
    border-radius: 22px;
    text-align: center;
    padding: 5px 0;
}

#contenidoModulos #btn1 {
    background-color: #F1880D;
    border: 1px solid transparent;
}

#contenidoModulos #btn1:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
}

#contenidoModulos #btn2 {
    background-color: #3F8E88;
    border: 1px solid transparent;
}

#contenidoModulos #btn2:hover {
    background-color: white;
    color: #3F8E88;
    border: 1px solid #3F8E88;
}

#contenidoModulos #btn3 {
    background-color: #185694;
    border: 1px solid transparent;
}

#contenidoModulos #btn3:hover {
    background-color: white;
    color: #185694;
    border: 1px solid #185694;
}

#footer img {
    width: 100%;
    height: auto;
}

/* CSS Pagina Modulos */
#containerContenidoPModulos {
    background-color: white;
    margin: 0 10px;
}

#containerContenidoPModulos #portada {
    width: 100%;
    height: 200px;
    background-image: url("https://aux4virtual.github.io/PlantillasAcosoLaboral/img/portadaMovil.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerContenidoPModulos #portada h1 {
    color: #F1880D;
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
}

#containerContenidoPModulos #portada p {
    text-align: justify;
    font-size: 0.9rem;
    margin-bottom: 10px;
    padding: 0 32px;
}

#containerContenidoPModulos #portada a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 22px;
    text-align: center;
    padding: 5px 10px;
    background-color: #F1880D;
    border: 1px solid transparent;
}

#containerContenidoPModulos #portada a:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
}

#containerContenidoPModulos #parrafoPrincipal {
    padding: 0 30px;
    text-align: center;
}

#containerContenidoPModulos #botones {
    display: flex;
    justify-content: right;
    margin: 5px 20px 0 0;
}

#containerContenidoPModulos #botones a {
    font-weight: bold;
    font-size: 15px;
    border-radius: 22px;
    text-align: center;
    margin-left: 10px;
}

#containerContenidoPModulos #btn1 {
    background-color: #F4F3F4;
    border: 1px solid transparent;
    color: #585858;
    padding: 5px 20px;
}

#containerContenidoPModulos #btn1:hover {
    background-color: white;
    color: #585858;
    border: 1px solid #585858;
}

#containerContenidoPModulos #btn2 {
    background-color: #F1880D;
    border: 1px solid transparent;
    color: white;
    padding: 5px 10px;
}

#containerContenidoPModulos #btn2:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
    }
}

/* Dispositivos pequeÃ±os (tabletas verticales y telefonos grandes, 600 px y mas) */
@media only screen and (min-width: 600px) {
#contenedorPrincipal{
    margin-top: -100px;
}

#header img {
    width: 100%;
    height: auto;
}

#botonNavegacion {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

#botonNavegacion a {
    margin: 0 10px;
    height: 60px;
    width: 160px;
    border-radius: 7px;
    background-color: #FFFFFF;
    border: solid 0.5px rgba(228, 228, 228, 0.959);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    text-align: left;
    color: #373736;
    display: flex;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-bottom: 6px solid transparent;
}

#botonNavegacion a i {
    font-size: 25px;
    margin-right: 10px;
}

#botonNavegacion #textoMenu {
    display: block;
}

#botonNavegacion a:hover {
    border-bottom: 6px solid #466967;
    color: #466967;
}

#containerContenidoPPrincipal {
    background-color: white;
    padding-top: 80px;
    border-radius: 5px;
}

#containerContenidoPPrincipal #titulo {
    text-align: center;
    color: #585858;
    font-weight: bold;
    font-size: 25px;
}

#containerContenidoPPrincipal #parrafoPrincipal {
    padding: 10px 5px 0;
    text-align: center;
    margin: 0px 20px;
}

#containerContenidoPPrincipal iframe {
    height: 390px;
}

#containerContenidoPPrincipal #modulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 20px;
    flex-direction: row;
}

#containerContenidoPPrincipal #modulos img {
    width: 50%;
}

#containerContenidoPPrincipal #modulosGris {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F4F3F4;
    flex-direction: row;
}

#containerContenidoPPrincipal #modulos #contenidoModulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 25px;
    align-items: start;
}

#containerContenidoPPrincipal #modulosGris #contenidoModulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 25px;
    align-items: start;
}

#contenidoModulos #tituloUno {
    color: #F1880D;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloUno {
    color: #F1880D;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos #tituloDos {
    color: #3F8E88;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloDos {
    color: #3F8E88;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos #tituloTres {
    color: #185694;
    font-size: 25px;
    font-weight: bold;
}

#contenidoModulos #subTituloTres {
    color: #185694;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 17px;
}

#contenidoModulos p {
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

#contenidoModulos a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    width: 150px;
    border-radius: 22px;
    text-align: center;
    padding: 5px 0;
}

#contenidoModulos #btn1 {
    background-color: #F1880D;
    border: 1px solid transparent;
}

#contenidoModulos #btn1:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
}

#contenidoModulos #btn2 {
    background-color: #3F8E88;
    border: 1px solid transparent;
}

#contenidoModulos #btn2:hover {
    background-color: white;
    color: #3F8E88;
    border: 1px solid #3F8E88;
}

#contenidoModulos #btn3 {
    background-color: #185694;
    border: 1px solid transparent;
}

#contenidoModulos #btn3:hover {
    background-color: white;
    color: #185694;
    border: 1px solid #185694;
}

#footer img {
    width: 100%;
    height: auto;
}

/* CSS Pagina Modulos */
#containerContenidoPModulos {
    background-color: white;
    margin: 0 10px;

}

#containerContenidoPModulos #portada {
    width: 100%;
    height: 465px;
    background-image: url("https://aux4virtual.github.io/PlantillasAcosoLaboral/img/portada.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#containerContenidoPModulos #portada h1 {
    color: #F1880D;
    font-weight: bold;
    font-size: 48px;
    text-align: left;
    padding: 60px 60px 0;
}

#containerContenidoPModulos #portada p {
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 110px 10px;
}

#containerContenidoPModulos #portada a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 22px;
    text-align: center;
    padding: 5px 10px;
    background-color: #F1880D;
    border: 1px solid transparent;
    margin: 0 110px 10px;
}

#containerContenidoPModulos #portada a:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
}

#containerContenidoPModulos #parrafoPrincipal {
    padding: 0 60px;
    text-align: center;
    font-size: 18px;
}

#containerContenidoPModulos #botones {
    display: flex;
    justify-content: right;
    margin: 30px 25px 0 0;
}

#containerContenidoPModulos #botones a {
    font-weight: bold;
    font-size: 18px;
    border-radius: 22px;
    text-align: center;
    margin-left: 10px;
}

#containerContenidoPModulos #btn1 {
    background-color: #F4F3F4;
    border: 1px solid transparent;
    color: #585858;
    padding: 5px 20px;
}

#containerContenidoPModulos #btn1:hover {
    background-color: white;
    color: #585858;
    border: 1px solid #585858;
}

#containerContenidoPModulos #btn2 {
    background-color: #F1880D;
    border: 1px solid transparent;
    color: white;
    padding: 5px 10px;
}

#containerContenidoPModulos #btn2:hover {
    background-color: white;
    color: #F1880D;
    border: 1px solid #F1880D;
    }
}

@media only screen and (min-width: 992px) {
    #contenedorPrincipal {
        margin-top: -105px;
    }
    #botonNavegacion a {
        margin: 0 20px;
        height: 70px;
        width: 200px;
        font-size: 20px;
   }

   #botonNavegacion a i {
        font-size: 30px;
    }

    #containerContenidoPPrincipal #titulo {
        font-size: 35px;
    }

    #containerContenidoPPrincipal #parrafoPrincipal {
        padding: 10px 15px 0;
        margin: 0px 20px;
        font-size: 18px;
    }

    #containerContenidoPPrincipal iframe {
        height: 520px;
    }

    #containerContenidoPPrincipal #modulos {
        margin: 10px 90px;
    }

    #containerContenidoPPrincipal #modulosGris {
        padding: 10px 90px;
    }

    #containerContenidoPPrincipal #modulos img {
        width: 40%;
    }
    
    #containerContenidoPPrincipal #modulosGris img {
        width: 40%;
    }

    #containerContenidoPModulos #portada p {
        padding: 0px 125px 10px 130px;
    }

    #containerContenidoPModulos #portada a {
        margin: 0 125px 10px;
    }
}

@media only screen and (min-width: 1200px) {
    #containerContenidoPPrincipal #parrafoPrincipal {
        padding: 10px 40px 0;
        margin: 0px 20px 30px;
    }

    #containerContenidoPModulos #portada p {
        padding: 0px 180px 10px 130px;
    }

    #containerContenidoPPrincipal #modulos {
        margin: 10px 70px;
    }
        #containerContenidoPPrincipal #modulosGris {
        padding: 10px 70px;
    }
}

/* CSS Pagina Foro */
#container-foro {
    margin-top: -75px;
    background: white;
    margin-bottom: 40px;
}

#container-nav {
    display: flex;
    justify-content: center;
}

#container-btn {
    margin: 15px;
    height: 78px;
    width: 215px;
    border-radius: 7px;
    border: none;
    background-color: #FFFFFF;
    border: solid 0.5px rgba(228, 228, 228, 0.959);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
    text-align: left;
    color: #373736;
    display: flex;
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#container-btn:hover {
    height: 73px;
    border-bottom: 5px solid #466967;
    color: #466967;
}

#btn-decoration {
    text-decoration: none;
    border: none;
    margin-top: 14px;
    background: none;
    margin-left: 12px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-right: 10px;
    font-size: 24px;
}

#icon-temario {
    margin-left: 22px;
    margin-top: 13px;
    margin-bottom: 13px;
}

#container_content {
    background-color: white;
    margin-top: -50px;
    display: flex;
    align-items: center;
}

#img-content-foro {
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 100px;
}

#p-foro {
    color: black;
    font-weight: 300;
    word-wrap: break-word;
    margin-right: 120px;
}

#title-foro {
    color: #466967;
    font-size: 48px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 20px;
}

#author-foro {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 22px;
    font-weight: bold;
    word-wrap: break-word;
    margin-bottom: 20px;
}

#container-text-foro {
    margin-left: 35px;
}

#concerns {
    padding-bottom: 40px;
}

#container-concerns {
    background: #F4F3F4;
    display: flex;
}

#title-concerns {
    width: 100%;
    height: 100%;
    color: #466967;
    font-size: 35px;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: 50px;
    margin-left: 40px;
}

#p-concerns {
    color: black;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 40px;
    word-wrap: break-word;
    margin-right: 120px;
}

#text-img {
    display: flex;
}

#btn-participate {
    width: 100px;
    height: 30px;
    background-color: #466967;
    border: none;
    border-radius: 22px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
    margin-bottom: 70px;
    margin-top: 20px;
    letter-spacing: 0.8px;
    cursor: pointer;
}

#btn-participate:hover {
    background-color: white;
    border: 1px solid #466967;
    color: #466967;
}

@media(max-width: 1700px) {
   
    #btn-decoration {
        margin-left: 12px;
    }

    #img {
        height: 30px;
        width: 42px;
        margin-left: 22px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
}

@media(max-width: 1550px) {

    #btn-decoration {
        font-size: 19px;
        margin-right: 10px;
    }
    #img-content-foro {
        margin-top: 130px;
        margin-bottom: 100px;
    }
}

@media(max-width: 1200px) {
    #container-btn {
        height: 70px;
    }
    #img-content-foro {
    margin-left: 0px;
}

    #p-foro {
    margin-right: 0px;
    }
    
}


@media(max-width: 1003px) {
    #img-content-foro {
        margin-left: 0px;
    }
    #container-concerns {
    margin-left: 0px;
    }
}




@media(max-width: 854px) {

    #title-concerns {
    margin-left: 40px;
    }
    #container-foro {
    margin-top: -80px;
    }
    #container-btn {
        height: 75px;
    }

    #img-content-foro {
    margin-left: 0px !important;
    margin-bottom: 20px !important;
    margin-top: 70px !important;
    }

    #temario {
        width: 110px;
    }

    #foro {
        width: 90px;
    }

    #conclusiones {
        width: 129px;
    }

    #container-concerns {
        margin-left: 0px;
    }

    #container_content {
        display: block;
        text-align: center;
    }

    #container-concerns {
    margin-left: 40px;
}

    #p-foro {
    margin-right: 0px;
    }


    #container-text-foro {
        padding-bottom: 30px;
        margin-left: 0px;
    }
    #p-foro {
        font-size: 19.5px;
        margin-right: 20px;
        margin-left: 20px;
    }
}


@media(max-width: 640px) {

    #concerns {
        text-align: center;
    }


    #btn-decoration {
        display: none;
    }

    #temario {
        width: 110px;
        height: 57px;
    }

    #foro {
        width: 90px;
        height: 57px;

    }

    #conclusiones {
        width: 225px;
    }

    #container-btn {
        margin: 12px;
        height: 57px;
        width: 85px !important;
        justify-content: center;
        text-align: center;
        justify-items: center;
    }

    #img {
        max-width: 100%;
        height: 30px;
        width: 42px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #img-content-foro {
        width: 220px;
    }

    #title-foro {
        font-size: 38px;
        font-weight: 700;
    }

    #author-foro {
        font-size: 19px;
    }

    #p-foro {
        font-size: 16.5px;
        margin-right: 0px;
    }


    #title-concerns {
        font-size: 28px;
        margin-left: 40px;
        
    }

    #p-concerns {
        font-size: 16.5px;
    }

    #btn-participate {
        padding: 0px;
        padding-top: 4px;
        margin-bottom: -70px;
        justify-content: center;
        margin-top: 5px;
    }

    #container-concerns {
        margin-left: 0px !important;
    }

    #img-concerns {
        display: none;
    }
    #container-concerns {
        margin-left: 20px;
        margin-right: 20px;
    }

    #container-btn-participate {
        display: flex;
        justify-content: center;
        margin-bottom: -19px;
    }

    #p-concerns {
        margin-right: 0px;
    }
}


/* CSS Pagina Tematicas */
#container-temas-modulos {
    padding-top: 0px;
    background: white;
}

#head-content {
    display: flex;
    align-items: center;
}

#container_content {
    background-color: white;
    display: flex;
    align-items: center;
}

#img-content-tematica {
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
}

#p-explorar-tematica {
    color: black;
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;
    margin-right: 16px;
}

#title-explorar-tematica {
    color: #F1880D;
    font-size: 35px;
    font-weight: 700;
    word-wrap: break-word;
    margin-right: 22px;
}

#container-text-explorar-tematica {
    margin-left: 35px;
}

#topics {
    padding-left: 60px;
    padding-right: 60px;
}

#container_topics {
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 17px;
    background-color: #F5F5F5;
    border-radius: 20px;
    margin-bottom: 20px;
}


#img-papel {
    height: 120px;
    width: 90px;
    margin-right: 35px;
}

#img-planta {
    width: 100px;
    height: 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 27px;
}

#img-marcadores {
    height: 120px;
    margin-right: 48px;
}

#text-topics {
    margin-top: 12px;
    font-size: 23px;
    color: #585858;
}

#title-topics {
    color: #585858;
    font-weight: 900;
    margin-bottom: 5px;
    font-size: 30px;
}

#p-topics {
    font-weight: 100;
    font-size: 30px;
}

#left-content {
    flex: 1;
    display: flex;
    margin-top: 30px;
}

#btn-explorar-tematica {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-right: 50px;
    margin-top: 26px;
    background-color: #F1880D;
    color: white;
    cursor: pointer;
    display: flex;
}

#btn-explorar-tematica:hover {
    background-color: white;
    border: 1px solid #F1880D;
    color: #F1880D;
}

#container-btn-volver {
    text-align: right;
    margin-bottom: 40px;
    margin-top: 34px;
}

#btn-volver {
    padding: 5px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 15px;
    margin-top: 26px;
    background-color: #F5F5F5;
    color: #585858;
    font-weight: 700;
    cursor: pointer;
}

#btn-volver:hover {
    background-color: #F1880D;
    border: 1px solid transparent;
    color: white;
}

@media(max-width: 1700px) {
    #container-temas-modulos {
        margin-left: 300px;
        margin-right: 300px;
    }

    #btn-decoration {
        margin-left: 12px;
    }

    #img {
        height: 30px;
        width: 42px;
        margin-left: 22px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
}


@media(max-width: 1550px) {
    #container-temas-modulos {
        margin-left: 0px;
        margin-right: 0px;
    }

    #btn-decoration {
        font-size: 19px;
        margin-right: 10px;
    }

    #img-content-tematica {
        margin-top: 130px;
        margin-left: 100px;
        margin-bottom: 100px;
    }

    #topics {
    padding-left: 0px;
    padding-right: 0px;
}
}

@media(max-width: 1200px) {
    #container-temas-modulos {
        margin-left: 0px;
        margin-right: 0px;
    }

    #container-btn {
        height: 75px;
    }

    #container-btn:hover {
        height: 70px;  
    }

}

@media(max-width: 1030px) {
    #container-btn {
        width: 190px;
    }

    
     #container_content {
        display: block;
        text-align: center;
    }


    #img-content-tematica {
        margin-top: 40px;
        margin-left: 0px;
        margin-bottom: 40px;
    }

   
}

@media(max-width: 1003px) {

    #topics {
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media(max-width: 930px) {
    #title-explorar-tematica {
        font-size: 30px;
    }

    #p-topics{
        font-size: 25px;
    }

    #title-topics {
        font-size: 25px;
    }

    #btn-explorar-tematica{
        margin-right: 20px;
    }

}

@media(max-width: 854px) {
    #container-btn {
        height: 55px;
    }

    #container-btn:hover {
        height: 70px;
        border-bottom: 5px solid #466967;
        color: #466967;
    }

    #p-explorar-tematica {
        margin-bottom: 30px;
        margin-right: 0px;
        margin-left: 0px;
    }

    #title-explorar-tematica {
        font-size: 28px;
        margin-bottom: 7px;
    }
}

@media(max-width: 730px) {

    #container-temas-modulos {
        margin-left: 15px;
        margin-right: 15px;
    }

    #container_topics {
        display: block;
        padding-bottom: 20px;
    }

    #btn-explorar-tematica {
        padding-left: 10px;
        padding-right: 10px;
        width: 130px;
        margin-top: 0px;
        justify-content: center;
        margin-right: 20px;
        margin-top: 5px;
    }

    #container-btn-explorar-tematica {
        display: flex;
        justify-content: end;
        margin-bottom: -32px;
    }

    #img-papel {
        margin-right: 15px;
    }

    #img-planta {
        margin-right: 7px;
    }

    #img-marcadores {
        height: 120px;
        margin-right: 28px;
    }

    #title-topics {
        font-size: 22px;
        margin-top: 10px;
    }

    #p-topics {
        font-size: 22px;
    }

    #btn-explorar-tematica {
        font-size: 15px;
    }

    #topics {
        padding-left: 35px;
        padding-right: 35px;
    }

    #title-explorar-tematica {
        font-size: 28px;
    }

    #p-explorar-tematica {
        font-size: 17px;
    }
}

@media(max-width: 640px) {


    #container-temas-modulos {
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media(max-width: 400px) {
    #topics {
        padding-left: 15px;
        padding-right: 15px;
    }

    #title-explorar-tematica {
        font-size: 25px;
    }

}

@media(max-width: 330px) {

    #container-temas-modulos {
        width: 400px;
        margin: auto;

    }
}

/* CSS Banner general */

#banner {
    max-width: 100%;
    text-align: center;
}

#container-title-banner{
    text-align: center;
    margin-top: -140px; 
    color: #FFFFFF;
}


#container-img-banner-movil {
    background-color: #466966;
}

#uno-title{
    font-size: 40px; 
    font-weight: 700;
    text-align: center;
    border-bottom: solid 1px;
}

#dos-title{
    font-weight: 100;
    font-size: 40px;
}

#img-escritorio-banner-movil {
    height: 170px; 
}

#container-img-escritorio-banner-movil {
    display: flex;
    justify-content: end;

}

#container-planta-banner{
    display: flex; 
    margin-top: -190px; 
    margin-bottom: 30px;
}

#img-planta-banner{
    width: 170px;
}

#img-papel-banner {
    display: block;
    width: 100.3%;
    height: 110px !important;
    margin-top: -60px;
}

#container-img-banner-movil {
    height: 200px;
    display: block;
    text-align: center;
}

#title-banner-movil {
    height: 120px;
    width: 380px;
    margin-top: 40px;
    visibility: visible;
}

#img-banner {
    width: 100%;

}

@media(max-width: 1030px) {
    #img-planta-banner {
    width: 140px;
}

    #img-escritorio-banner-movil {
        height: 110px;
    } 

      #uno-title{
        font-size: 25px; 
    }

    #dos-title{
        font-size: 25px;
    }
   #container-title-banner{
    text-align: center;
    margin-top: -80px; 
    color: #FFFFFF;
    }
}

@media(max-width: 930px) {
    #uno-title{
      font-size: 28px; 
  }

  #dos-title{
      font-size: 28px;
  }

}

@media(max-width: 854px) {

    #container-planta-banner {
    display: flex;
    margin-top: -250px;
    margin-bottom: 30px;
    }

    #container-img-banner-movil {
        background-color: #466966
    }

    #img-escritorio-banner-movil {
        height: 130px;
    }

    #img-papel-banner {
        display: block;
        width: 100.3%;
        height: 140px;
        margin-top: -60px;
    }

    #container-img-banner-movil {
        height: 280px;
        display: block;
        text-align: center;
    }
    #title-banner-movil {
        height: 120px;
        width: 380px;
        margin-top: 40px;
        visibility: visible;
    }


}

@media(max-width: 730px) {
    #uno-title{
        font-size: 35px; 
    }
    #dos-title{
        font-size: 35px;
    }
    #title-banner-movil {
        height: 90px;
        width: 340px;
        margin-top: 40px;
        visibility: visible;
    }
    #container-planta-banner{
        margin-top: -170px; 
    }   
}



@media(max-width: 640px) {
    #uno-title{
        font-size: 25px; 
    }
    #dos-title{
        font-size: 25px;
    }   
   #container-title-banner {
    margin-top: -17px;
    }
}

@media(max-width: 400px) {
    #img-planta-banner {
    width: 95px;
    }
    #img-escritorio-banner-movil {
        height: 95px;
    }   

    #container-title-banner {
    margin-top: -10px;
}

}
@media(max-width: 330px) {
    #container-img-banner-movil{
        margin: auto;
    }
    #container-img-banner-movil{
        width: 400px;
        margin: auto;
    }
    #img-papel-banner{
        width: 400px;
    }
}
