@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

#principalContainer {
background-color: #F4F3F4;
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

#header img {
  width: 100%;
  height: auto;
}

#containerContenido {
  background-color: white;
  margin: 0 10px;

}

#containerContenido #portada{
  width: 100%;
  height: 465px;
  background-image: url(/ContenidoModulo/img/portada.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#containerContenido #portada h1{
  text-align: center;
  color: #F1880D;
  font-weight: bold;
  font-size: 48px;
  text-align: left;
}

#containerContenido #portada p{
  text-align: justify;
  font-size: 18px;
  margin-bottom: 10px;
}

#containerContenido #portada a{
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 22px;
  text-align: center;
  padding: 5px 10px;
  background-color: #F1880D;
  border: 1px solid transparent;
}

#containerContenido #portada a:hover {
  background-color: white;
  color: #F1880D;
  border: 1px solid #F1880D;
}

#containerContenido #parrafoPrincipal {
  padding: 0 130px 40px;
  text-align: center;
}

#containerContenido #botones {
  display: flex;
  justify-content: right;
  margin: 30px 40px 0 0;
}

#containerContenido #botones a {
  font-weight: bold;
  font-size: 18px;
  border-radius: 22px;
  text-align: center;
  margin-left: 10px;
}

#containerContenido #btn1 {
  background-color: #F4F3F4;
  border: 1px solid transparent;
  color: #585858;
  padding: 5px 20px;
}

#containerContenido #btn1:hover {
  background-color: white;
  color: #585858;
  border: 1px solid #585858;
}

#containerContenido #btn2 {
  background-color: #F1880D;
  border: 1px solid transparent;
  color: white;
  padding: 5px 10px;
}

#containerContenido #btn2:hover {
  background-color: white;
  color: #F1880D;
  border: 1px solid #F1880D;
}

#footer img {
  width: 100%;
  height: auto;
}



/*Mobile*/
@media only screen and (max-width: 600px) {

  #principalContainer {
    margin: 0;
  }

  #containerContenido #portada {
    background: #F4F3F4;
    height: 175px;
  }

#containerContenido #portada h1 {
    font-size: 20px;
    padding: 20px 0px 5px 50px;
}

#containerContenido #portada p {
    font-size: 15px;
    padding: 0px 50px;
    line-height: 15px;
    margin-bottom: 15px;
}
#containerContenido #portada a {
    font-size: 15px;
    margin: 0px 60px;
    padding: 2px 13px;
}

#containerContenido #parrafoPrincipal {
    padding: 30px 40px 15px;
}

#containerContenido iframe {
    height: 300px;
}

#containerContenido #botones {
    margin: 0 20px 0 0;
}

#containerContenido #botones a {
    font-size: 15px;
}
}

@media only screen and (min-width: 600px) {

  #principalContainer {
      margin: 0;
  }

  #containerContenido #portada h1 {
    font-size: 30px;
    padding: 50px 70px 10px 70px;
  }
  #containerContenido #portada p {
    padding: 10px 140px;
    margin-bottom: 20px;
}

#containerContenido #portada a {
    margin: 0 140px;
}

#containerContenido #parrafoPrincipal {
    padding: 5px 70px 20px;
    text-align: center;
}

#containerContenido iframe {
    height: 320px;
}

}

@media only screen and (min-width: 992px) {

  #containerContenido #portada {
    height: 590px;
  }

  #containerContenido #portada h1 {
    font-size: 40px;
    padding: 100px 90px 15px 150px;
  }

  #containerContenido #portada p {
    padding: 10px 220px;
    font-size: 20px;
  }

  #containerContenido #portada a {
    margin: 0 220px;
  }

  #containerContenido #parrafoPrincipal {
    padding: 10px 170px 20px;
    font-size: 20px;
  }

  #containerContenido iframe {
    height: 400px;
}
}

@media only screen and (min-width: 1200px) {
  #principalContainer {
  margin: 0 20%;
  }

  #containerContenido #portada {
    height: 465px;
  }

  #containerContenido #portada h1 {
    padding: 70px 0px 10px 115px;
  }

  #containerContenido #portada p {
    padding: 10px 165px;
  }

  #containerContenido #portada a {
    margin: 0 165px;
  }

  #containerContenido #parrafoPrincipal {
    padding: 10px 125px 20px;
  }
}